<p>
  Vice News (stylised as VICE News) is Vice Media, Inc.'s current affairs channel, producing daily documentary essays and video through its website and YouTube channel. It promotes itself on its coverage of "under-reported stories". Vice News was created in December 2013 and is based in New York City, though it has bureaus worldwide.
</p>

<p>
  VICE News is an international news organization created by and for a connected generation. We provide an unvarnished look at some of the most important events of our time, highlight under-reported stories from around the globe, and get to the heart of the matter with reporters who call it like they see it.
</p>
